---

version: '3.5'

{% if nginx.container.network|default(False) %}
networks:
  {{ nginx.container.network.name }}:
    external: true
{% endif %}

services:
  server:
    build: ./
    image: {{ nginx.container.image }}
    container_name: {{ nginx.container.name }}
    hostname: {{ ansible_hostname }}
    dns: {{ nginx.container.dns }}
{% if nginx.container.syslog.enabled %}
    logging:
      driver: syslog
      options:
        syslog-address: "{{ nginx.container.syslog.host }}"
        tag: {{ nginx.container.syslog.tag }}
{% endif %}
{% if nginx.container.network|default(False) %}
    networks:
      - {{ nginx.container.network.name }}
{% endif %}
    ports:
      - 80:80
      - 443:443
      - {{ nginx.exporter.host }}:{{ nginx.exporter.port }}:3093
    restart: {{ nginx.container.restart }}
    volumes:
      - ./certs:/etc/nginx/certs
      - ./consul-templates:/etc/consul-templates
      - ./conf.d:/etc/nginx/conf.d
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./service:/etc/service
      - ./mtail:/etc/mtail
{% if nginx.letsencrypt.enabled %}
      - /etc/letsencrypt:/etc/letsencrypt
{% endif %}
      - /var/www:/var/www
      - {{ nginx.logs_dir }}:/var/log/nginx
